<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <tr>
    <td class="col-xs-2">
      <%= link_to(remove_line_item_potepan_order_path(line_item.id), method: :delete) do %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
      <span class="cartImage">
        <%= image_tag(line_item.variant.display_image.attachment(:product), alt: "image") %>
      </span>
    </td>
    <td class="col-xs-4"><%= line_item.name %></td>
    <td class="col-xs-2"><%= line_item.display_price %></td>
    <td class="col-xs-2">
      <%= item_form.number_field :quantity, min: 1, class: "line_item_quantity", size: 99 %>
    </td>
    <td class="col-xs-2"><%= line_item.display_amount %></td>
  </tr>
<% end %>
