<% provide(:title, "カート") %>
<div class="main-wrapper">
  <%= render 'small_header' %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix cartListWrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% if @order.line_items.empty? %>
            カートは空です。
          <% else %>
            <%= render 'form', order: @order %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render 'potepan/shared/login_modal' %>
<%= render 'potepan/shared/sign_up_modal' %>
