<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomies.each_with_index do |taxonomy, i| %>
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy-<%= i %>">
                <%= taxonomy.name %>
                <i class="fa fa-plus"></i>
              </a>
              <ul id="taxonomy-<%= i %>" class="collapse collapseItem">
                <% taxonomy.root.leaves.each do |leaf| %>
                  <li>
                    <%= link_to potepan_category_path(leaf.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                      <%= leaf.name %> <span><%= "(#{leaf.products.count})" %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">色から探す</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% colors.each do |color| %>
          <li>
            <%= link_to potepan_category_path(color: color.name) do %>
              <%= color.presentation %><span><%= "(#{@colors_info[ color.name.to_sym ]})" %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <% sizes.each do |size| %>
          <li>
            <%= link_to potepan_category_path(size: size.name) do %>
              <%= size.presentation %><span><%= "(#{@sizes_info[ size.name.to_sym ]})" %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
