<% provide :title, @taxon.name %>
<div class="main-wrapper">
  <%= render 'small_header', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'side_bar', taxonomies: @taxonomies, colors: @colors, colors_info: @colors_info, sizes: @sizes, sizes_info: @sizes_info %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'sort_filter' %>
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-sm-4 col-xs-12">
                <%= link_to potepan_product_path(product.id) do %>
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <%= image_tag(product.display_image.attachment(:product), :alt => "products-img") %>
                    </div>
                    <div class="productCaption clearfix">
                      <h5><%= product.name %></h5>
                      <h3><%= product.display_price %></h3>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'potepan/shared/partner_logo_slider' %>
</div>
<%= render 'potepan/shared/login_modal' %>
<%= render 'potepan/shared/sign_up_modal' %>
