<% provide(:title, "検索結果") %>
<div class="main-wrapper">
  <%= render 'small_header' %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-3 col-xs-12">
              <%= link_to potepan_product_path(product.id) do %>
                <div class="productBox">
                  <div class="productImage clearfix">
                    <%= image_tag(product.display_image.attachment(:product), :alt => "products-img") %>
                  </div>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'potepan/shared/partner_logo_slider' %>
</div>
<%= render 'potepan/shared/login_modal' %>
<%= render 'potepan/shared/sign_up_modal' %>
