<div class="bannercontainer">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li>
          <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data: { bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat" }) %>
        </li>
      </ul>
    </div>
  </div>
</div>
