<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>人気カテゴリー</h4>
    </div>
  </div>
  <% popular_categories.each do |popular_category| %>
    <div class="col-sm-4 col-xs-12">
      <%= link_to potepan_category_path(popular_category.id) do %>
        <div class="thumbnail">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/featured-collection-#{popular_category.name}.jpg", :alt => "feature-collection-image") %>
            <div class="masking">
              <div class="btn viewBtn">View <%= popular_category.name %></div>
            </div>
          </div>
          <div class="caption">
            <h4><%= popular_category.name %></h4>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
