<div class="main-wrapper">
  <%= render 'banner' %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'popular_categories', popular_categories: @popular_taxons %>
      <%= render 'new_arrival_products', new_arrival_products: @new_arrival_products %>
    </div>
  </section>
  <%= render 'potepan/shared/partner_logo_slider' %>
</div>
<%= render 'potepan/shared/login_modal' %>
<%= render 'potepan/shared/sign_up_modal' %>
<%= render 'product_quick_view_modal' %>
