<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render 'layouts/partials/head' %>
  </head>
  <body>
    <!-- HEADER -->
    <%= render 'layouts/partials/header' %>
    <%= yield %>
    <!-- FOOTER -->
    <%= render 'layouts/partials/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
